/**************************************************
* 404 page
**************************************************/
.error-page {
	max-width: 570px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.error-title {
	font-weight: bold;
	font-size: 32px;
}

.error-lettering {
	font-weight: bold;
	font-size: 192px;
	line-height: 0.7;
}

.error-sublettering {
	font-weight: bold;
	font-size: 32px;
}