@font-face {
    font-family: 'fontawesome';
    src:    url('assets/fonts/fontawesome.eot?shbt5h');
    src:    url('assets/fonts/fontawesome.eot?shbt5h#iefix') format('embedded-opentype'),
            url('assets/fonts/fontawesome.ttf?shbt5h') format('truetype'),
            url('assets/fonts/fontawesome.woff?shbt5h') format('woff'),
            url('assets/fonts/fontawesome.svg?shbt5h#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontawesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-square:before {
    content: "\f08c";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-behance-square:before {
    content: "\f1b5";
}
