/**************************************************
* Functions
**************************************************/
@function px-rem($size) {
    @return ($size / 16px) * 1rem;
}

/**************************************************
* Font Family
**************************************************/
$primary-font: 'Lato', sans-serif;

/**************************************************
* Color
**************************************************/
$primary-color: #252525;
$secondary-color: #e8522c;

$tertiary-color: #333333;
$quartenary-color: #4c4c4c;
